@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using PhoneSpotter.ViewModels.PhoneSpottings
@model PhoneSpotting
@{
    ViewData["Title"] = "Create New Windows Phone Spotting";
}

<h1>Log Windows Phone Spotting!</h1>

<form asp-controller="PhoneSpotting" asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="PhoneManufacturer" class="control-label col-xs-2">Manufacturer:</label>
        <div class="col-xs-10">
            <input asp-for="PhoneManufacturer" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneModel" class="control-label col-xs-2">Model:</label>
        <div class="col-xs-10">
            <input asp-for="PhoneModel" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Latitude" class="control-label col-xs-2">Latitude:</label>
        <div class="col-xs-10">
            <input asp-for="Latitude" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Longitude" class="control-label col-xs-2">Longitude:</label>
        <div class="col-xs-10">
            <input asp-for="Longitude" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SpotTime" class="control-label col-xs-2">Date &amp; Time:</label>
        <div class="col-xs-10">
            <input type="text" asp-for="SpotTime" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label col-xs-2">Notes:</label>
        <div class="col-xs-10">
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/phoneSpotter.js"></script>
}